.neo-input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: var(--neo-padding-y-small) var(--neo-padding-x-small);
  border: var(--neo-border-width) solid var(--neo-border-color);
  border-radius: var(--neo-border-radius);
  color: var(--neo-black);
  outline: none;

  &--shape {
    &-square {
      border-radius: 0;
    }

    &-pill {
      border-radius: 9999px;
    }

    &-rounded {
      border-radius: var(--neo-border-radius);
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--error {
    --neo-border-color: var(--neo-red);
  }

  &--success {
    --neo-border-color: var(--neo-green);
  }

  &:focus {
    outline: var(--neo-border-width) solid var(--neo-border-color);
    outline-offset: var(--neo-border-width);
  }
}
