@use "../../../assets/styles/neo-mixins";

.neo-tag {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.4em 0.8em;
  border: var(--neo-border-width, 1px) solid var(--neo-border-color, transparent);
  border-radius: var(--neo-border-radius, 4px);
  font-weight: 500;
  line-height: 1.2;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  // Text Colors
  &--text-neo-black { color: #000; }
  &--text-neo-white { color: #fff; }


  @include neo-mixins.bg-color-props;
}
