@use "../../../assets/styles/neo-mixins";

.neo-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: var(--neo-padding-y) var(--neo-padding-x);
  border: var(--neo-border-width) solid var(--neo-border-color);
  border-radius: var(--neo-border-radius);
  appearance: none;
  background-color: var(--neo-accent-bg);
  color: var(--neo-primary-text);
  cursor: pointer;
  outline: none;
  text-decoration: none;

  @include neo-mixins.smooth-transition;
  @include neo-mixins.bg-color-props;
  @include neo-mixins.shape-props;

  &--variant {
    &-primary, &-reverse {
      font-weight: var(--neo-font-weight);
    }

    &-primary, &-neutral {
      @include neo-mixins.neo-shadow;

      &:not(:disabled):hover {
        box-shadow: none;
        transform: translate(var(--neo-shadow-offset-x), var(--neo-shadow-offset-y));
      }
    }

    &-reverse, &-reverse-neutral {
      box-shadow: none;

      &:not(:disabled):hover {
        @include neo-mixins.neo-shadow;

        transform: translate(var(--neo-shadow-offset-x), var(--neo-shadow-offset-y));
      }
    }

    &-neutral, &-reverse-neutral {
      background-color: var(--neo-primary-bg);
    }

    &-text {
      border: none;
      background-color: transparent;

      &:not(:disabled):hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        transform: translate(0, -4px);
      }
    }
  }

  &--size {
    &-small {
      font-size: 1rem;
    }

    &-medium {
      font-size: 1.2rem;
    }

    &-large {
      font-size: 1.5rem;
    }
  }

  &--icon-single {
    padding: var(--neo-padding-y-small);
    font-size: 0;

    &.neo-button--size-small svg {
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
    }

    &.neo-button--size-medium svg {
      width: 1.2rem;
      height: 1.2rem;
      font-size: 1.2rem;
    }

    &.neo-button--size-large svg {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5rem;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

}
